<div class="{#formCreation#} row m-0">
    <div class="col-xs-12" style="padding:50px;">
        <h3>{{'clusterHowTo.intro'|trans}}</h3>
    </div>
    <div class="col-xs-12" style="padding:0px 50px 50px 50px;">
        <p><b>{{'clusterHowTo.text1'|trans}}</b></p>
        <p>{{'clusterHowTo.text2'|trans|raw}}</p>
        <br>
        <p><b>{{'clusterHowTo.text3'|trans}}</b></p>
        <p>{{'clusterHowTo.text4'|trans|raw}}</p>
        <div class="commandElement">
            <div class="well">{{'clusterHowTo.access'|trans}}</div>
        </div>
        <p>{{'clusterHowTo.text5'|trans|raw}}</p>
        <br>
        <p><b>{{'clusterHowTo.text6'|trans}}</b></p>
        <p>{{'clusterHowTo.text7'|trans|raw}}</p>
        <br>
        <p>{{'clusterHowTo.text7b'|trans|raw}}</p>
        <div class="commandElement">
            <div class="well">{{'clusterHowTo.copyFiles'|trans|raw|nl2br}}</div>
        </div>
        <p>{{'clusterHowTo.text7c'|trans|raw}}</p>
        <br>
        <p><b>{{'clusterHowTo.text8'|trans}}</b></p>
        <p>{{'clusterHowTo.slurm'|trans|raw}} <a href="https://slurm.schedmd.com/man_index.html" target="_blank"><b>SLURM</b></a>.</p>
        <ul>
            <li>
                <p>{{'clusterHowTo.text9'|trans|raw}}</p>
                <div style="margin-left:20px;">
                    <p>{{'clusterHowTo.text10'|trans|raw}}</p>
                    <p>{{'clusterHowTo.text11'|trans|raw}}</p>
                    <div class="commandElement">
                        <div class="well">{{'clusterHowTo.run'|trans|raw}}</div>
                    </div>
                    <p>{{'clusterHowTo.text12'|trans|raw}}</p>
                    <p>{{'clusterHowTo.text13'|trans|raw}}</p>
                    <div class="commandElement">
                        <div class="well">{{'clusterHowTo.salloc'|trans|nl2br}}</div>
                    </div>
                    <p>{{'clusterHowTo.text14'|trans|raw}}</p>
                    <p>{{'clusterHowTo.text15'|trans|raw}}</p>
                    <p>{{'clusterHowTo.text15Example1'|trans|raw}}</p>
                    <div class="commandElement">
                        <div class="well">{{'clusterHowTo.sbatch'|trans|raw}}</div>
                    </div>
                    <p>{{'clusterHowTo.text15Example2'|trans|raw}}</p>
                    <div class="commandElement">
                        <div class="well">{{'clusterHowTo.sbatch2'|trans|raw}}</div>
                    </div>
                    <p>{{'clusterHowTo.text15b'|trans|raw}}</p>
                    <div class="commandElement">
                        <div class="well">{{'clusterHowTo.sbatch3'|trans|raw}}</div>
                    </div>
                    <p>{{'clusterHowTo.text16'|trans|raw}}</p>
                    <div class="commandElement">
                        <div class="well">{{'clusterHowTo.sbatch4'|trans|raw}}</div>
                    </div>
                </div>
            </li>
            <li>
                <p>{{'clusterHowTo.text17'|trans|raw}}</p>
                <div class="commandElement">
                    <div class="well">{{'clusterHowTo.scancel'|trans|raw}}</div>
                </div>
            </li>
            <li>
                <p>{{'clusterHowTo.text18'|trans|raw}}</p>
                <div class="commandElement">
                    <div class="well">{{'clusterHowTo.squeue'|trans|raw}}</div>
                </div>
            </li>
        </ul>
        <p><b>{{'clusterHowTo.text19'|trans}}</b></p>
        <p>{{'clusterHowTo.text20'|trans|raw}}</p>
        <ul>
            <li>
                <p>{{'clusterHowTo.text21'|trans|raw}}</p>
                <div class="commandElement">
                    <div class="well">{{'clusterHowTo.text22'|trans|raw}}</div>
                </div>
                <p>{{'clusterHowTo.text23'|trans|raw}}</p>
            </li>
            <li>
                <p>{{'clusterHowTo.text24'|trans|raw}}</p>
                <p>{{'clusterHowTo.text25'|trans|raw}}</p>
            </li>
            <li>
                <p>{{'clusterHowTo.text26'|trans|raw}}</p>
                <p>{{'clusterHowTo.text27'|trans|raw}}</p>
            </li>
        </ul>
        
        <p>{{'clusterHowTo.extraInfo'|trans|raw}}  <img style="width:150px;" src="{{asset('images/email.png')}}" /></p>
    </div>
</div>
