<!-- Modal window to ask before delete a company -->
<div id="deleteLeaderModal" class="modal fade deleteLeaderModal-dialog" {#tabindex="-1"#} role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">{{'removeLeader' |trans }}</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" id="deleteLeaderModal-leaderId">
            <p> {{'delete.leader.text1' | trans }} <b><span id='deleteLeaderName'></span></b>. </p>
            <p> {{'delete.leader.confirm' | trans }} </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">{{'close' | trans}}</button>
            <button type="button" class="btn btn-danger" id='deleteLeaderModal-confirm'>{{'accept' | trans}}</button>
        </div>
    </div>
  </div>
</div>
            
<script type="text/javascript">
    $(document).ready(function(){
        $("#deleteLeaderModal-confirm").click(function(){
            var url = "{{ path('adminstration_leader_deletion', {'leaderId': 'leaderId'}) }}";
            var leaderId = $("#deleteLeaderModal-leaderId").val();
            url = url.replace('leaderId', leaderId);
            $.post(url, null, function(response){
                var text = '';
                var status = '';
                if( !response.error ){
                    //Success message
                    text = response.message;
                    status = 'successSection';
                    //we have to add the new element to the grid, for that we update the actual page
                    updateJpTable('tableLeaders');
                }else{
                    //Error message
                    if(response.errorMessage){
                        text = response.errorMessage;
                        status = 'errorSection';
                    }
                }
                
                //display message
                displayNotice(text, status);
                $("#deleteLeaderModal").modal('hide');
            }, 'json');
        });
    });
</script>