<div class='row m-t-20' style='border: 1px solid #dddddd;display: inline-grid;margin-left:0px;'>
    <div class='col-xs-12 m-b-10' style='font-weight: bold;'>{{'legend.tableColors'|trans}}:</div>
    <div class='col-xs-12 m-b-10'><div class='legendElementColor' style='background-color:#f1d4d4;'></div><div class='legendElementText'>{{'legend.red'|trans}} - <span style='color: #E91E63;font-weight: bolder;'>{{'legend.review'|trans}}</span></div></div>
    <div class='col-xs-12 m-b-10'><div class='legendElementColor' style='background-color:#f3cda4;'></div><div class='legendElementText'>{{'legend.orange'|trans}} - <span style='color: #E91E63;font-weight: bolder;'>{{'legend.review'|trans}}</span></div></div>
    <div class='col-xs-12 m-b-10'><div class='legendElementColor' style='background-color:#eaf3a4;'></div><div class='legendElementText'>{{'legend.yellow'|trans}} - <span style='color: #E91E63;font-weight: bolder;'>{{'legend.review'|trans}}</span></div></div>
    <div class='col-xs-12 m-b-10'><div class='legendElementColor' style='background-color:#e4e4e4;'></div><div class='legendElementText'>{{'legend.grey'|trans}} - <span style='color: #009688;font-weight: bolder;'>{{'legend.ok'|trans}}</span></div></div>
    <div class='col-xs-12 m-b-10'><div class='legendElementColor' style='background-color:#E7F7E8;'></div><div class='legendElementText'>{{'legend.green'|trans}} - <span style='color: #009688;font-weight: bolder;'>{{'legend.ok'|trans}}</span></div></div>
</div>